.modal {
    width: 700px;
    max-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: rgb(141, 252, 196);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
}

.modalWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.imageDescrWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 1rem;
}

.imageDesc {
    display: flex;
    align-items: center;
    margin: 5px 0;
    color: #333;
}

.imageDesc svg {
    margin-right: 5px;
    color: rgb(48, 216, 48);
}

.imageDesc p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}